body{
    padding: 100px;
}

.container{
    border: 1px solid #000;
    background-color: #4d4d4d;
    width: 400px;
    margin: 0 auto;
    border-radius: 40px;
}

.container2{
    padding: 42px;
}

.visor-calc{
    width: 310px;
    height: 50px;
    margin: 20px 0;
    background-color: #d0e6a8;
    border: none;
    text-align: right;
    font-size: 30px;

}
.numbers{
    display: grid;
    direction: reverse;
    grid-template-columns: repeat(3, 1fr);
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.ope{
    display: flex;
    flex-direction: column;
    width: 70px;
}

.btn{
    display: bl;
    width: 70px;
    height: 85px;
    border: 1px solid lightgrey;
    padding: 20px;
    color: #fff;
    background-color: #808080;
    font-size: 40px;
    margin: 5px;
    font-weight: bold;
}

.btn-result{
    width: 310px;
    height: 60px;
    font-size: 30px;
    padding: 0;
    background-color: #ea5e61;
}

.btn-ope{
    background-color: #65c7d0;
}

.btn:hover{
    cursor: pointer;
    background-color: #000;
}

.btn-delete{
    font-size: 25px;
}

.btn-delete-all{
    background-color: #f00;
    font-size: 20px;
}

